.icon-arrow-back {
	width: 1092.3px;
	height: 768px;
}

.icon-arrow-down {
	width: 1314.6px;
	height: 767.9px;
}

.icon-arrow-forward {
	width: 768px;
	height: 540px;
}

.icon-arrow-left {
	width: 448.7px;
	height: 768px;
}

.icon-arrow-right {
	width: 448.7px;
	height: 768px;
}

.icon-arrow-up {
	width: 1314.6px;
	height: 767.9px;
}

.icon-countries-belarus {
	width: 768px;
	height: 768px;
}

.icon-countries-kazakhstan {
	width: 768px;
	height: 768px;
}

.icon-countries-russia {
	width: 768px;
	height: 768px;
}

.icon-icon-android {
	width: 655.1px;
	height: 768px;
}

.icon-icon-apple {
	width: 627.6px;
	height: 768px;
}

.icon-icon-cart {
	width: 510px;
	height: 510px;
}

.icon-icon-close {
	width: 612px;
	height: 612px;
}

.icon-icon-comment {
	width: 768px;
	height: 768px;
}

.icon-icon-delivery {
	width: 768px;
	height: 485.8px;
}

.icon-icon-envelope {
	width: 1075.1px;
	height: 768px;
}

.icon-icon-file {
	width: 575.9px;
	height: 768px;
}

.icon-icon-globe {
	width: 735px;
	height: 735px;
}

.icon-icon-map-marker {
	width: 564.4px;
	height: 768.1px;
}

.icon-icon-menu {
	width: 768px;
	height: 492.7px;
}

.icon-icon-minus {
	width: 768px;
	height: 36.6px;
}

.icon-icon-pencil {
	width: 528.9px;
	height: 528.9px;
}

.icon-icon-phone {
	width: 768.6px;
	height: 768px;
}

.icon-icon-plus {
	width: 768px;
	height: 768px;
}

.icon-icon-return {
	width: 768px;
	height: 537.1px;
}

.icon-icon-search {
	width: 735px;
	height: 735px;
}

.icon-icon-shop {
	width: 768px;
	height: 640px;
}

.icon-icon-star {
	width: 768px;
	height: 731.8px;
}

.icon-icon-user {
	width: 584.1px;
	height: 768px;
}

.icon-icon-warranty {
	width: 652.6px;
	height: 768px;
}

.icon-social-fb {
	width: 49.7px;
	height: 49.7px;
}

.icon-social-ok {
	width: 97.8px;
	height: 97.8px;
}

.icon-social-vk {
	width: 97.8px;
	height: 97.8px;
}

